table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

td,
th {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px 12px;
}

.matrix-table-container {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  margin-top: 30px;
}

.matrix-table-container th {
  width: 100px;
  box-sizing: border-box;
  white-space: nowrap;
}

.matrix-title {
  font-weight: bold;
  background: #9171db2b;
}
