.matrix-table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

td,
th {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px 12px;
}
